<h1>内容編集</h1>
<%= form_for @anime, url: {action: :update} do |f| %>
  <h3>タイトル</h3>
    <%= f.text_field :title %>
    <br>
    <br>
    <h3>投稿内容</h3>
    <%= f.text_area :message %>

  <%= f.submit '投稿する'%>
<% end %>

<p>animes</p>