@import "bootstrap";
body{
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    background-color: #FFCC99;
}

footer{
    width: 100%;
    .footer-text{
        text-align: center
    }
}

.main{
    margin-top: 3%;
    height: 800px;
}

